@import 'styles/variables';

.loader {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $light-background;

  .spinner {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto;
  }

  .bounce-1,
  .bounce-2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $loader-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
  }

  .bounce-2 {
    animation-delay: -1s;
    animation-delay: -1s;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }
}
