// Sizes
$base-size: 16px;

// Fonts
$font-arial: Arial, Helvetica, sans-serif;
$font-family: 'Lato', sans-serif;

// Colors
$black: #000000;
$white: #ffffff;
$loader-color: #28d0dd;
$light-background: rgba(0, 0, 0, 0.5);