// Sizes
$base-size: 16px;

// Fonts
$font-arial: Arial, Helvetica, sans-serif;
$font-family: 'Lato', sans-serif;

// Colors
$black: #000000;
$white: #ffffff;
$loader-color: #28d0dd;
$light-background: rgba(0, 0, 0, 0.5);
$grey: #808080;
$red: #cc0000;
$dark-red: #800000;
$bright-red: #ff0000;
$bright-dark-red: #990000;
$blue-green: #036564;
$dark-blue-green: #033649;
